.row.no-mrg.calendar-view
  .col-sm-9.nomrg
    %div{role: 'tabpanel', class: 'tabs'}
      %ul.nav.nav-tabs
        %li{:role => "presentation"}
          %a{"aria-controls" => "calendar", "data-toggle" => "tab", :href => "#calendar", :role => "tab"}
            = t :calendar
        %li{:role => "presentation"}
          %a{"aria-controls" => "list", "data-toggle" => "tab", :href => "#list", :role => "tab"}
            = t :list

      .tab-content
        = render partial: 'shared/calendar_pane'
        = render partial: 'shared/list_pane'
  .col-sm-3
    = render partial: 'shared/contact_us'
    = render partial: 'shared/media_links'
    = render partial: 'shared/video'
  #event-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header.center
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#myModalLabel.modal-title
        .modal-body.center
