<div class="row no-mrg">
  <div class="col-sm-9 nomrg">
    <% date = Date.today %>
    <% 6.times do %>
      <div class="month">
        <h3><%= month_name(date.month) %></h3>
        <table class="calendar">
          <tr>
            <% start = date.at_beginning_of_month.wday %>
            <% for i in start...(start + 7) do %>
              <th>
                <%= week_day(i%7) %>
              </th>
            <% end %>
          </tr>
          <tr>
          <% range = date.at_beginning_of_month..date.at_end_of_month %>
          <% for i in range do %>
            <% if (i.day-1) % 7 == 0 %>
              </tr>
              <tr>
            <% end -%>
            <td class="day-cell"><span><%= local_number i.day %></span></td>
          <% end -%>
          </tr>
        </table>
      </div>
      <% date = date.advance months: 1 %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= render partial: 'shared/contact_us' %>
    <%= render partial: 'shared/media_links' %>
    <%= render partial: 'shared/video' %>
  </div>
</div>
