.row.no-mrg
  .col-sm-9.schools
    %h1= t :courses
    - @schools.each do |school|
      %a{name: school.name.downcase, class: 'anchor'}
      %h3= school.name
      - school.programs.visible.each do |program|
        %h4= program.name
        - program.courses.visible.each_with_index do |course, i|
          %h5.pointer
            &nbsp
            = "#{local_number(i+1)} - #{course.name}"
            .padd.greyish
              = raw course.description
          %p
            %strong
              = t :offered_classes if course.course_classes.any?
          %p
            &nbsp&nbsp&nbsp&nbsp
            - course.course_classes.each do |klass|
              = "#{klass.code} - #{klass.name}"
  .col-sm-3
    .schools-wrapper
      %span.green-title= t :schools
      .horz-divider
      .schools
        = render 'shared/school_logos'
