
<div class="row no-mrg">
  <div class="col-sm-9">
    <div class="carousel-wrapper">
      <div class="owl-carousel">
        <% @home_photos.each do |photo| %>
          <div> <%= image_tag photo.photo.url %> </div>
        <% end %>
      </div>
    </div>
    <div class="row no-mrg">
      <div class="col-xs-8 col-sm-6">
        <div class="section-header">
          <h3><%= t :about_nass %></h3>
        </div>
        <%= raw(@page.content_for(:about)) %>
      </div>
      <div class="col-xs-4 col-sm-6">
        <div class="section-header">
          <h3><%= t :news %></h3>
        </div>
        <%= render partial: 'shared/news_prev' %>
      </div>
    </div>


    <div class="row no-mrg">
      <div class="col-xs-8 col-sm-6">
        <div class="section-header">
          <h3><%= t :partners %></h3>
        </div>
        <div class="partners-prev">
          <%= raw(@page.content_for(:partners)) %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-6">
        <div class="section-header">
          <h3><%= t :departments %></h3>
        </div>
        <%= render partial: 'shared/news_prev' %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render partial: 'shared/contact_us' %>
    <%= render partial: 'shared/media_links' %>
    <%= render partial: 'shared/video' %>
  </div>

</div>
