.row.no-mrg
  .col-sm-9.courses
    %h1= t :schools
    - @schools.each do |school|
      %a{name: school.name.downcase, class: 'anchor'}
      %h2= school.name
      - if school.photo
        = image_tag school.photo.url, class: 'full-width'
      %p
        = school.description.html_safe
  .col-sm-3
    %span.green-title= t :schools
    .horz-divider
    .schools
      = render 'shared/school_logos'
