<h3>Your Jobs</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t :job_title %></th>
      <th><%= t :location %></th>
      <th><%= t :date_posted %></th>
    </tr>
  </thead>
  <tbody>
    <% if @jobs && @jobs.count >= 1 %>
      <% @jobs.each_with_index do |job, i| %>
        <% next if job.new_record? %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= job.title %></td>
          <td><%= job.city.try(:name) %> - <%= job.area.try(:name) %></td>
          <td><%= job.created_at.to_date %></td>
        </tr>
      <% end %>
    <% else %>
      <h4>You haven't posted any jobs yet</h4>
    <% end %>
  </tbody>
</table>
