<h3>Post new Job</h3>
<%= form_for(@job, url: '/jobs') do |f| %>
  <% if flash[:error] %>
    <div class='alert alert-danger error-msg'>
      <%= flash[:error] %>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>

  <div>
    <%= f.label :city -%>
    <%= f.select(:city_id, @cities.collect {|d| [d.name, d.id] })%>
  </div>

  <div>
    <%= f.label :area -%>
    <%= f.select(:area_id, @areas.collect {|d| [d.name, d.id] })%>
  </div>

  <div>
    <%= f.label :joining_date %><br />
    <%= f.date_select :joining_date %>
  </div>

  <div>
    <%= f.label :salary_from %><br />
    <%= f.text_field :salary_from %>
  </div>

  <div>
    <%= f.label :salary_to %><br />
    <%= f.text_field :salary_to %>
  </div>

  <div>
    <%= f.label :incentive %><br />
    <%= f.text_area :incentive %>
  </div>

  <div>
    <%= f.label :days_off %><br />
    <%= f.text_area :days_off %>
  </div>

  <div>
    <%= f.label :social_insurance %>
    <%= f.check_box :social_insurance %>
  </div>

  <div>
    <%= f.label :medical_insurance %>
    <%= f.check_box :medical_insurance %>
  </div>

  <div>
    <%= f.label :transportation %>
    <%= f.check_box :transportation %>
  </div>

  <div>
    <%= f.label :job_description %><br />
    <%= f.text_area :job_description %>
  </div>

  <div>
    <%= f.label :qualifications %><br />
    <%= f.text_area :qualifications %>
  </div>
  <%= f.hidden_field :company_id, value: current_employer.company.id %>
  <div>
    <%= f.label :work_conditions %><br />
    <%= f.text_area :work_conditions %>
  </div>

  <%= f.submit 'Post Job', class: 'btn btn-success' %>

<% end %>