%p.center.alert.alert-info
  = t(:sign_up_to_apply_html, link: link_to(t(:sign_up_now), main_app.students_reg_path))

%h3= t :job_listing
= render 'jobs/jobs_filter'
%br
%table.table.table-striped.jobs
  %thead
    - if @jobs && @jobs.count >= 1
      %tr
        %th #
        %th= t :job_title
        %th= t :industry
        %th= t :location
        %th= t :education_level
        %th= t :date_posted
      %tbody
        - @jobs.each_with_index do |job, i|
          - next if job.new_record?
          %tr
            %td= i+1
            %td= job.title
            %td= job.industry.try(:name)
            %td= job.city.try(:name)
            %td= job.education_level.try(:name)
            %td= job.created_at.to_date
    - else
      %h4= t :no_jobs
