= form_tag nil, path: main_app.jobs_path, method: :get do
  .row.filters
    = fields_for :filter do |f|
      .col-sm-3
        = f.collection_select :city_id, @cities, :id, :name, { include_blank: t(:all_city), selected: (params[:filter][:city_id] if params[:filter]) }, class: 'form-control'
      .col-sm-3
        = f.collection_select :industry_id, @industries, :id, :name, { include_blank: t(:all_field), selected: (params[:filter][:industry_id] if params[:filter]) }, class: 'form-control'
      .col-sm-3
        = f.collection_select :education_level_id, @education_levels, :id, :name, { include_blank: t(:all_education_level), selected: (params[:filter][:education_level_id] if params[:filter]) }, class: 'form-control'
      .col-sm-3
        .row
          .col-sm-6
            = submit_tag t(:filter), class: 'btn green'
          .col-sm-6
            = link_to t(:clear), request.path ,class: 'btn btn-danger pull-right'
