= form_tag nil, path: main_app.jobs_path, method: :get do
  .row
    = fields_for :filter do |f|
      .col-sm-3
        = f.collection_select :city_id, @cities, :id, :name, { include_blank: t(:city), selected: (params[:filter][:city_id] if params[:filter]) }, class: 'form-control'
      .col-sm-3
        = f.collection_select :industry_id, @industries, :id, :name, { include_blank: t(:field), selected: (params[:filter][:industry_id] if params[:filter]) }, class: 'form-control'
      .col-sm-3
        = f.collection_select :education_level_id, @education_levels, :id, :name, { include_blank: t(:education_level), selected: (params[:filter][:education_level_id] if params[:filter]) }, class: 'form-control'
      .col-sm-3
        = submit_tag t(:filter), class: 'btn green'
