<h3><%= t :job_listing %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t :job_title %></th>
      <th><%= t :company %></th>
      <th><%= t :location %></th>
      <th><%= t :date_posted %></th>
    </tr>
  </thead>
  <tbody>
    <% if @jobs && @jobs.count >= 1 %>
      <% @jobs.each_with_index do |job, i| %>
        <% next if job.new_record? %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= link_to job.title, main_app.job_details_path(id: job.id) %></td>
          <td><%= job.company.company_name %></td>
          <td><%= job.city.try(:name) %></td>
          <td><%= job.created_at.to_date %></td>
        </tr>
      <% end %>
    <% else %>
      <h4>No jobs posted any jobs yet</h4>
    <% end %>
  </tbody>
</table>
