<h3><%= t :job_listing %></h3>
<table class="table table-striped jobs">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t :job_title %></th>
      <th><%= t :company %></th>
      <th><%= t :location %></th>
      <th><%= t :date_posted %></th>
    </tr>
  </thead>
  <tbody>
    <% if @jobs && @jobs.count >= 1 %>
      <% @jobs.each_with_index do |job, i| %>
        <% next if job.new_record? %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= link_to job.title, main_app.job_details_path(id: job.id), remote: true %></td>
          <td><%= job.company.company_name %></td>
          <td><%= job.city.try(:name) %></td>
          <td><%= job.created_at.to_date %></td>
        </tr>
      <% end %>
    <% else %>
      <h4><%= t :no_jobs %></h4>
    <% end %>
  </tbody>
</table>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="job-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          <%= t :job_details %>
        </h4>
      </div>
      <div class="modal-body center">
      </div>
    </div>
  </div>
</div>

