%div{role: 'tabpanel', class: 'tab-pane fade in active', id: 'calendar'}
  - date = Date.today
  - 6.times do
    .month
      %h3= month_name(date.month)
      - month_events = @events.where(:start_date => date.at_beginning_of_month..date.at_end_of_month)
      %table.calendar
        %tr
          - start = date.at_beginning_of_month.wday
          - for i in start...(start + 7) do
            %th
              = week_day(i%7)
        - month = date.at_beginning_of_month..date.at_end_of_month
        - month.each_slice(7) do |week|
          %tr
            - week.each do |i|
              - event = month_events.where(:start_date => i.beginning_of_day..i.end_of_day).first
              %td{class: "day-cell #{"light-green pointer" if event}"}
                .day
                  - if event
                    %label.title
                      = event.name.truncate(30)
                    %label.full-title.hide
                      = event.name
                      %span.margined.small
                        = event.start_date
                    .event-preview.hide
                      = image_tag event.photo.url
                      = raw event.description
                    .event-link.hide
                      .row
                        .col-sm-12
                          = link_to event.link_title, event.link, class: 'btn btn-success', target: :blank
                %span= local_number i.day
    - date = date.advance months: 1