- schools_page = ::Refinery::Page.find('schools')
- if @schools
  - @schools.each do |school|
    .news-item-prev
      %span.pull-left.img-prev= image_tag school.logo.url if school.logo
      %span.green-title= school.name
      = raw(truncate_html(school.description, length: 230))
      = link_to (t :more), (schools_page.url[:path].join('/')+"##{school.name}"), class: 'more'
