.media-links
  = link_to 'https://www.facebook.com/NASSAcademy1' do
    %span= image_tag 'facebook.png'
  = link_to 'https://www.facebook.com/NASSAcademy1' do
    %span= image_tag 'twitter.png'
  = link_to 'https://www.facebook.com/NASSAcademy1' do
    %span= image_tag 'youtube.png'
  = link_to 'https://www.facebook.com/NASSAcademy1' do
    %span= image_tag 'googleplus.png'
  = link_to 'https://www.facebook.com/NASSAcademy1' do
    %span= image_tag 'pinterest.png'
