!!! Strict
%html
  %head
    - if I18n.locale.to_s == 'en'
      = stylesheet_link_tag 'application'
    - else
      = stylesheet_link_tag 'application_rtl'
    = stylesheet_link_tag 'common'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %title NASS Academy
%body
  .container#main-container
    - if flash[:notice]
      %div.alert.alert-success
        = flash[:notice]
    %div.alert.alert-success.hidden

    = render 'refinery/header'
    #main-content
      = yield
    = render 'refinery/footer'
  .sii.hidden
    = someone_signed_in?
    .current_lcl
      = I18n.locale.to_s
  #reg-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#myModalLabel.modal-title
            = t :sign_up
        .modal-body.center
          = link_to (t(:sign_up)+" "+(t(:for_individuals))), main_app.students_reg_path, class: 'btn btn-success'
          = link_to (t(:sign_up)+" "+(t(:for_companies))), main_app.employers_reg_path, class: 'btn btn-info'


