!!! Strict
%html
  %head
    - if I18n.locale.to_s == 'en'
      = stylesheet_link_tag 'application'
    - else
      = stylesheet_link_tag 'application_rtl'
    = stylesheet_link_tag 'common'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %title NASS Academy

%body
  .container#main-container
    - if flash[:notice]
      %div.alert.alert-success
        = flash[:notice]

    - unless devise_controller?
      = render 'refinery/header'
    #main-content
      = yield
    = render 'refinery/footer'
  .sii.hidden
    = student_signed_in?
