!!! Strict
%html
  %head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

%body
  .container
    - unless devise_controller? && resource_name == :user && action_name == 'new'
      = render 'refinery/header'
    = yield
